/* css of blog page  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: snow;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgb(121, 121, 245),
        0 0 50px rgb(110, 110, 249),
        0 0 100px rgb(168, 168, 252);
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
    box-shadow: 0 0 0 10px rgb(250, 0, 254),
        0 0 50px rgb(252, 94, 255),
        0 0 100px rgb(251, 167, 252);
    animation: animate 15s linear infinite;
    animation-duration: calc(155s / var(--i));
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}

.Blog {
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 20px;
    background-color: rgb(255, 255, 255, 0.1);
    font-family: Garamond, "serif";
    text-align: center;
    padding-bottom: 50px;
}

.desc {
    margin-bottom: 120px;
    margin-top: 100px;
}

.desc p {
    font-size: 22px;
    margin-left: 20px;
    margin-right: 20px;
}

.second p {
    font-size: 22px;
}

.fetured-product {
    display: flex;
    justify-content: space-around;
}

.top-seller {
    text-align: center;
    position: relative;
}

.top-seller img {
    height: 280px;
    width: 280px;
    border-radius: 7px;
}

.overlay {
    position: absolute;
    top: 0;
    font-size: 32px;
    left: 67px
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(5px);
    }

    30% {
        transform: translateY(0);
    }

    45% {
        transform: translateY(5px);
    }

    60% {
        transform: translateY(0);
    }

    80% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}

.overlay:hover {
    animation-name: bounce;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}